<div class="row" ng-controller="videoController">
    <div class="col-md-3">
        <div class="panel panel-warning text-center">
            <div class="panel-body">
                <h1 class="text-success">{{CustomerInformations.NewlyRegistered}}</h1>
            </div>
            <div class="panel-footer panel-info">Newly Registered Customers</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-danger text-center">
            <div class="panel-body">
                <h1 class="text-info">{{CustomerInformations.SubscribedCustomers}} $</h1>
            </div>
            <div class="panel-footer panel-info">Millons Donations</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-success text-center">
            <div class="panel-body">
                <h1 class="text-warning">{{CustomerInformations.TopRatedCustomers}}</h1>
            </div>
            <div class="panel-footer panel-info">Top Rated Customers</div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-info text-center">
            <div class="panel-body">
                <h1 class="text-danger">{{CustomerInformations.PendingToApprove}}</h1>
            </div>
            <div class="panel-footer panel-info">Pending Requests</div>
        </div>
    </div>
</div>
<div class="row" ng-controller="videoController">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <i class="icon icon-chevron-up chevron"></i>
        <i class="icon icon-wrench pull-right"></i> Controls
      </div>
      <div class="panel-content">
        <div class="btn-group btn-group-justified">
          <a href="#" class="btn btn-primary col-sm-3" ng-click="startVideoJoiner()">
            <i class="glyphicon glyphicon-play"></i>
            <p>Start</p>
          </a>
          <a href="#" class="btn btn-primary col-sm-3">
            <i class="glyphicon glyphicon-stop"></i>
            <p>Stop</p>
          </a>
          <a href="#" class="btn btn-primary col-sm-3">
            <i class="glyphicon glyphicon-cog"></i>
            <p>Tools</p>
          </a>
          <a href="#" class="btn btn-primary col-sm-3">
            <i class="glyphicon glyphicon-question-sign"></i>
            <p>Help</p>
          </a>
        </div>
      </div><!--/panel content-->
    </div><!--/panel-->
    <div class="panel panel-default">
      <div class="panel-heading">Videos</div>
      <table class="table table-striped">
        <thead>
        <tr><th>Id</th><th>Title</th><th>Source Link</th><th>Reuploaded Link</th><th>Process</th><th>Source Link</th><th>Source Link</th></tr>
        </thead>
        <tbody>
        <tr><td>45</td><td>2.45%</td><td>Direct</td><td>Direct</td><td>Direct</td><td>Direct</td><td>Direct</td></tr>
        </tbody>
      </table>
    </div><!--/panel-->
  </div>
</div>
